body{
  margin: 0;
}

.chooseMenu{
  height: 610px;
  width: 610px;
  padding: 20px;
  background-color: #EAEAEA;
  border: 1px solid black;
}

#firstTitle{
  padding-bottom: 20px;
  display: block;
  width: 250px;
  font-family: 'Barrio', cursive;
  font-size: 20px;
  margin: 0 auto;
}

.menu{
  padding-bottom: 20px;
  font-family: 'Indie Flower', cursive;
  font-style: bold;
}

#clicked{
  height: 40px;
  width: 70px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff9664;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

#clicked:hover{
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

#clicked:active{
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.jsonChooser{
  margin-bottom: 30px;
  font-family: 'Barrio', cursive;
}

.jsonChooserText{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  cursor: pointer;
}

.jsonChooserText:hover{
color: #ff9664
}

#canvas {
  border: 1px solid black;
}
